<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs")  %>
  
  <div class="about content">
    <h2>About Us</h2>
    <p>Pug la croix vape, mixtape et adaptogen selvage irure pork belly four dollar toast glossier brunch. 
        Jianbing PBR&B quinoa, tonx echo park shoreditch af jean shorts biodiesel. Echo park 
        chartreuse 8-bit you probably haven't heard of them vape mumblecore artisan copper mug 
        culpa chambray salvia ad swag austin af.</p>
    <p>Fit venmo bicycle rights reprehenderit, shaman cupping aesthetic authentic. Est whatever bitters 
        tattooed. 8-bit tofu distillery, forage marfa sed anim slow-carb deep v schlitz 
        umami cupidatat sunt. Shoreditch Brooklyn beard humblebrag, ascot actually subway tile. 
        Art party +1 mustache 8-bit gorpcore banjo esse ut bitters snackwave slow-carb hoodie.
         Microdosing mustache tote bag 3 wolf moon man bun keffiyeh plaid retro enamel pin. 
         Forage cold-pressed nostrud, seitan gorpcore fit Brooklyn direct trade cupping laborum 
         williamsburg marxism tattooed mukbang. Deep v farm-to-table ipsum, hot chicken flexitarian 
         chillwave aesthetic activated charcoal af.</p>
  </div>
  <%- include("./partials/footer.ejs")  %>
</body>
</html>